/* Color Pallette */
/* Color Assignments */
/* overrides */
.button {
  border-radius: 3px;
  font-weight: bold; }
  .button.button-positive {
    background: #0267C1;
    border-color: #0267C1; }
    .button.button-positive.button-outline {
      border-color: #0267C1;
      color: #0267C1; }
  .button.button-energized {
    background: #FF9F1C;
    border-color: #FF9F1C; }
    .button.button-energized.button-outline {
      border-color: #FF9F1C;
      color: #FF9F1C; }
  .button.button-calm {
    background: #9CC0E2;
    border-color: #9CC0E2; }
    .button.button-calm.button-outline {
      border-color: #9CC0E2;
      color: #9CC0E2; }
  .button.button-balanced {
    background: #E2D7A3;
    border-color: #E2D7A3; }
    .button.button-balanced.button-outline {
      border-color: #E2D7A3;
      color: #E2D7A3; }
  .button.button-assertive {
    background: #A30404;
    border-color: #A30404; }
    .button.button-assertive.button-outline {
      border-color: #A30404;
      color: #A30404; }

.bar.bar-positive {
  background: #0267C1;
  border-color: #0267C1; }
.bar.bar-energized {
  background: #FF9F1C;
  border-color: #FF9F1C;
  background-image: none; }
.bar.bar-calm {
  background: #9CC0E2;
  border-color: #9CC0E2;
  background-image: none; }
.bar.bar-balanced {
  background: #E2D7A3;
  border-color: #E2D7A3; }
.bar.bar-assertive {
  background: #A30404;
  border-color: #A30404; }

/* basics */
.bar-header {
  color: white; }
  .bar-header h1 {
    color: white;
    font-weight: 900; }

.page-header {
  margin: 10px 0 25px 0; }
  .page-header h1 {
    font-size: 24px;
    font-weight: 900;
    color: #FF9F1C;
    text-align: center; }
  .page-header h2 {
    margin-top: 12px;
    text-align: center;
    font-size: 20px;
    font-weight: 400; }
  .page-header h3 {
    margin-top: 12px;
    text-align: center;
    font-size: 16px;
    font-style: italic; }

.section-prompt {
  text-align: center;
  font-weight: 600;
  font-style: italic;
  margin: 0; }

.offset {
  margin-top: 30px; }

.double-offset {
  margin-top: 60px; }

.job-summary-card {
  margin-top: 0;
  margin-bottom: 5px; }

.job-summary-item {
  margin-top: 0;
  padding: 10px;
  padding-top: 0; }
  .job-summary-item .job-summary-detail {
    font-size: 11px;
    line-height: 13px; }

.pending-job-info * {
  white-space: normal; }

p.worker-bio {
  margin-top: 8px;
  white-space: normal; }

.row.no-margin {
  margin: 0; }
  .row.no-margin button {
    margin: 0; }

.left-aligned {
  text-align: left; }

.right-aligned {
  text-align: right; }

/* home screen */
.home-content {
  background: url(/img/new-splash.png) no-repeat;
  background-size: cover; }
  .home-content > .scroll {
    display: flex;
    flex-direction: column;
    height: 100%; }
  .home-content h1 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
  .home-content .row-logo {
    flex-grow: 1; }
  .home-content .row-buttons {
    flex-grow: 0; }
  .home-content .button:last-child {
    margin-bottom: 0; }

.uncertain {
  color: gray;
  font-style: italic;
  font-size: small;
  /*float:right;*/ }

.instructions {
  color: gray;
  font-style: italic; }

.house-info-card .item {
  background-color: #fffef6; }

.item-emph {
  background: #fdfcf8; }

/* adding a possible time */
.card .l1 {
  font-size: 16px; }
.card .l2 {
  font-size: 12px; }

.popup-container .popup {
  width: 300px;
  border-radius: 8px; }
  .popup-container .popup .popup-buttons {
    margin-top: 10px; }

.padding {
  height: 60px; }
